.idea*
.DS_STORE
*.iml
*.jar
.installationinformation
AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
Uninstaller/*
art/*
bc.conf
bin/*
build.xml
doc/*
lib/*
music/*
sound/*
replays/*.rms
replays/*.rms.analyzed
version.txt
